html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .container {
    display: flex;
  }

  p {
    padding: 20px;
  }


@media screen and (max-width: 600px) {
  body {
    background-color: lightcoral; 
  }

  .container {
    flex-direction: column;
  }

  p {
    padding: 0 5px;
    line-height: 1.5em;
    font-size: 2em;

  }
    
}

@media screen and (min-width: 600px) {
  body {
    background-color: lightblue;
  }
  
  .container {
    flex-wrap: wrap;
  }

  p {
    font-size: 1.5em;
  }
}

/* 2 - Para fazer isso de forma adequada, você deve prestar atenção no conteúdo da página e pensar em como mostrá-lo em cada um dos tamanhos de tela:
Onde a lista de capítulos deve estar posicionada?
Como a história deve ser mostrada?
Como o cabeçalho deve ser posicionado?
O que fazer com as informações do autor em cada tamanho de tela?
3 - Talvez você precise alterar o HTML um pouco, adicionando elementos para facilitar a estilização, ou talvez mudando um bloco de lugar dentro da página. */ 
